[user]
        name = decordoba
        email = danieldecordobagil@hotmail.com

[alias]
        co = checkout
        ci = commit
        cim = commit -m
        st = status
        br = branch
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        type = cat-file -t # expects hash (number in git hist)
        dump = cat-file -p # expects hash (number in git hist)
        # log + blame. Show whole file history commit by commit with author
        lame = log -p -M --follow --stat -- # expects filename

[core]
        whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
        excludesfile = $HOME/git/.gitignore
        editor = vim

[color]
        ui = auto

[color "branch"]
        current = yellow bold
        local = green bold
        remote = cyan bold

[color "diff"]
        meta = yellow bold
        frag = cyan bold
        old = red bold
        new = green bold
        whitespace = red reverse

[color "status"]
        added = green bold
        changed = yellow bold
        untracked = red bold
