"*":
  "atom-beautify":
    python:
      max_line_length: 99
      sort_imports: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "enter"
    consumeSuffix: false
    minimumWordLength: 2
    useCoreMovementCommands: false
  "autocomplete-python":
    fuzzyMatcher: false
    suggestionPriority: 1
    useKite: false
    useSnippets: "required"
  "clipboard-plus": {}
  core:
    disabledPackages: [
      "rainbow"
      "emmet"
      "atom-live-server"
    ]
    packagesWithKeymapsDisabled: [
      "hey-pane"
    ]
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    preferredLineLength: 100
    showIndentGuide: false
  "exception-reporting":
    userId: "d1f9848b-2b7a-4195-aba2-21bdebdfdf38"
  "highlight-selected":
    ignoreCase: true
    minimumLength: 1
  linter: {}
  "linter-flake8":
    maxLineLength: 99
  "linter-ui-default":
    panelHeight: 147
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "python-tools": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-clipboard-plus":
    useVimModePlus: true
  "vim-mode-plus":
    keymapBackslashToInnerCommentOrParagraphWhenToggleLineCommentsIsPending: true
    keymapPToPutWithAutoIndent: true
    keymapSToSelect: true
    keymapYToYankToLastCharacterOfLine: true
    reuseFindForRepeatFind: true
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
".console.python.text":
  editor:
    tabLength: 4
".gfm.source":
  editor:
    softWrap: true
".python.source":
  editor:
    showIndentGuide: true
    tabLength: 4
".python.text.traceback":
  editor:
    tabLength: 4
